.v-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-radius: 4px;

  span {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: inherit;
  }

  &--primary {
    background-color: $color-blue;
    color: $color-white;
  }

  &--waiting {
    background-color: $color-orange-2;
    color: $color-white;
  }

  &--alert {
    background-color: $color-red;
    color: $color-white;
  }

  &--system {
    background-color: $color-system;
    color: $color-font-secondary;
  }

  &--success {
    background-color: $color-green-2;
    color: $color-white;
  }
}
