main{
  background-color: rgba(255, 245, 252, 50%);
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  font-weight: 600;
}
.block{
  padding-top: 20px;
  overflow: hidden;
}
.line{
  padding: 10px 0;
  border-bottom: 1px solid #d483c299;;
}
.salutation {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  @include media(s) {
    flex-direction: column-reverse;
    align-items: center;
  }

}

.salutation-photo{
  flex-grow: 1;
  flex-basis: 0;
  width: 500px;
  overflow: hidden;
  border-radius: 427px;
  border: 3px solid #eecbe5;
  display: flex;
  min-height: 500px;
  max-width: 300px;
  min-width: 300px;
}
.salutation-text{
  flex-grow: 1;
  flex-basis: 0;
  padding: 23px 19px;
  max-width: 100%;
  font-size: 20px;
  border: 3px solid #eecbe5;
  border-radius: 29px;
  margin-top: 100px;
  height: min-content;
  @include media(s) {
    margin-top: 0px;
  }

}
.services-title{
  font-size: 32px;
}
.services-list{
}
.services-item{
  padding-top: 10px;
}
.price-title{
  font-size: 32px;
}
.price-list{
}
.price-item{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 10px;
  @include media(xs) {
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}
.price-item__text{
  width: max-content;
}
.price-item__underline{
  margin: 0 10px;
  flex-grow: 1;
  border-bottom: 1px solid black;
  @include media(s) {
    display: none;
  }

}
.price-item__cell{

}
.price-item__button{
  margin-left: 20px;
}
.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* 4:3 aspect ratio */
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
}
